<div>
    <h1>Login</h1>
    <form id="loginForm">
        <label>Email</label>
        <input name="email">
        <br/>
        <label for="">Contraseña</label>
        <input name="password" type="password">
        <input type="submit">
    </form>
    <p>¿No estas registrado? <a href="/register">Registrate aquí</a></p>
    <p> ¿No estás registrado? <a href="/api/sessions/github">Entrar con GitHub</a></p>
    <a href="/forgot-password">
    <button>Restablecer constraseña</button>
</a>
</div>
<script src="/js/login.js"></script>