<div>
  <h1>Registro</h1>
  <form id="registerForm">
    <label for="">Nombre</label>
    <input name="first_name" />
    <br/>
    <label for="">Apellido</label>
    <input name="last_name" />
   <br/>
    <label for="">Email</label>
    <input type="email" name="email" />
    <br/>
    <label for="">Age</label>
    <input name="age" />
    <br/>
    <label for="">Contraseña</label>
    <input type="password" name="password" />
    <input type="submit">
  </form>
  <p>¿Ya tienes cuenta?<a href="/">Ingresa aquí</a></p>
</div>
<script src="/js/register.js"></script>